.theme-default {
  .crt-bezel {
    border: 3px solid #0a0a0a;
    box-shadow:
      inset 0 0 0 1px #333,
      inset 0 0 0 2px #1a1a1a,
      inset 0 0 20px rgba(0, 0, 0, 0.8),
      inset 0 0 3px 1px rgba(0, 235, 78, 0.3);
    border-radius: 2px;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border: 1px solid rgba(0, 235, 78, 0.2);
      border-radius: 1px;
    }
  }

  .crt {
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      inset: 0;
      z-index: 2;
      pointer-events: none;
    }

    &::before {
      background:
        linear-gradient(hsla(0, 6%, 7%, 0) 50%, hsla(0, 0%, 0%, 0.25) 50%),
        linear-gradient(
          90deg,
          hsla(0, 100%, 50%, 0.06),
          hsla(120, 100%, 50%, 0.02),
          hsla(240, 100%, 50%, 0.06)
        );
      background-size:
        100% 8px,
        6px 100%;
    }

    &::after {
      background: hsla(0, 6%, 7%, 0.1);
      opacity: 0;
      box-shadow: 0 0 100px 5px hsla(0, 0%, 0%, 0.9) inset;
    }
  }
}
